<a href="https://colab.research.google.com/github/shiny880410/helloworld/blob/master/final/downloadcsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install gspread
!pip install oauth2client
!pip install Pillow
!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from oauth2client.client import GoogleCredentials
import numpy as np
import pandas as pd
gc = gspread.authorize(GoogleCredentials.get_application_default())

Requirement already satisfied: gspread in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied: oauth2client in /usr/local/lib/python3.6/dist-packages (4.1.3)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (1.12.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.2.5)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.4.5)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (4.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.11.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (4.3.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from Pillow) (0.46)
     |████████████████████████████████| 993kB 5.0MB/s
  Building wheel for PyDrive (setup.py) ... done

In [0]:
sh2 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1_L_CG5WhF5oZUvpmJTWEbEmHHGJ1-boQ9oxyfILFJyU/edit#gid=448064943')
wks5 = sh2.worksheet("工作表2")
pi1 = wks5.col_values(1)
#print(pi1[:5])
pi2 = wks5.col_values(4)
pi3 = wks5.col_values(5)
pi4 = wks5.col_values(6)
n = 25000
pi1train = pi1[1:n]
pi2train = pi2[1:n]
pi3train = pi3[1:n]
pi4train = pi4[1:n]
pi1test = pi1[n:n+25]
pi2test = pi2[n:n+25]
pi3test = pi3[n:n+25]
pi4test = pi4[n:n+25]

In [0]:
dfxtrain = pd.DataFrame(
    {'pi3': pi3train,
     'pi4': pi4train,
     'pi2': pi2train
    })
dfxtrain.tail(25)

               pi3          pi4          pi2
24974  5.147581702   77.4509979          340
24975  8.176892079  62.01316347          275
24976  6.220838946  76.30689161          260
24977  10.23764381  68.83773039          300
24978  17.53745104  94.60561519          550
24979  14.28224146  102.2194553          425
24980  42.99212245  73.71524807          325
24981  4.090961648  66.19501872  333.3333333
24982  14.62180478  76.72815408  366.6666667
24983  5.363961596  70.95854212  314.2857143
24984  3.152472046    45.785519  166.6666667
24985  3.291840819  33.30081363  316.6666667
24986  6.515251201  34.39594052          225
24987  3.662841501  33.64534758          225
24988  2.832161065  28.86946819  316.6666667
24989  3.773554841  78.73756603          275
24990  8.146347187  72.74645132          600
24991  7.282376576   64.4674816          300
24992  8.366813691  59.09519146          550
24993  28.52529289  118.7548073          425
24994  9.618372539  38.49570563          325
24995  5.537141979  79.76551037          340
24996  11.61452715  69.25565931          275
24997  7.002535066  80.68471439          260
24998  10.23764381  68.83773039          300

In [0]:
dfytrain = pd.DataFrame({'pi1':pi1train})
dfytrain.tail(25)

               pi1
24974  661.0712733
24975  712.5730602
24976  741.7277128
24977   1000.34011
24978  744.1470674
24979   1281.18745
24980  1324.400597
24981  450.1594815
24982  1191.374122
24983   948.141256
24984    365.84556
24985  376.6519209
24986  537.4983958
24987  347.1495535
24988  343.4048899
24989  762.0405666
24990  837.5811528
24991  626.9679938
24992  651.6381999
24993   1577.55016
24994  773.4040865
24995  726.5767337
24996   991.971659
24997  831.3976688
24998   1000.34011

In [0]:
dfxtest = pd.DataFrame(
    {'pi3': pi3test,
     'pi4': pi4test,
     'pi2': pi2test
    })
dfxtest.tail(25)

            pi3          pi4          pi2
0   12.09189334  82.90538137          550
1   17.12787518  110.9686847          425
2    11.5309712  67.19616816          325
3   1.428720233  44.26727734  333.3333333
4   12.25744826  73.07172848  366.6666667
5   4.918811544  70.95854212  314.2857143
6   2.357022633  43.30127073  166.6666667
7   3.504255503  34.85380154  316.6666667
8   5.107718737  32.00902938          225
9   6.094685925  41.58332528          225
10  6.179397667  40.17414061  316.6666667
11  3.901928705  80.20993435          275
12  11.30554527  85.51030689          600
13  8.705011363  71.34499629          300
14  13.11310345   69.4638414          550
15  21.28509463  106.1574905          425
16  10.17634012  39.27378978          325
17  7.387807739  85.71361904          340
18  12.42148331  74.75007959          275
19  8.506051544  86.15432895          260
20  10.23764381  68.83773039          300
21  20.32162602  98.05142074          550
22  10.14079724  94.23262178          425
23  13.24213374   70.9284769          325
24  4.449973478  72.00411616  333.3333333

In [0]:
dfytest = pd.DataFrame({'pi1':pi1test})
dfytest.tail(25)

            pi1
0   590.9117168
1   1470.655299
2   1008.019913
3   190.8560806
4   1045.621373
5   892.7156288
6   294.2857207
7   400.8128883
8    488.140665
9   576.7569299
10  624.2604547
11  718.1586181
12  1016.171787
13  783.7529904
14  931.8769629
15   1256.18375
16  791.0888858
17  806.1979021
18  1104.229754
19  970.7473568
20   1000.34011
21  1215.004661
22  1159.106021
23  1109.800827
24  541.5019268

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')
dfxtrain.to_csv('gdrive/My Drive/Colab Notebooks/復興南/train data/xtrain1.csv',index=0,header=0)
dfytrain.to_csv('gdrive/My Drive/Colab Notebooks/復興南/train data/ytrain1.csv',index=0,header=0)
dfxtest.to_csv('gdrive/My Drive/Colab Notebooks/復興南/train data/xtest1.csv',index=0,header=0)
dfytest.to_csv('gdrive/My Drive/Colab Notebooks/復興南/train data/ytest1.csv',index=0,header=0)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive